.DS_Store
.idea
mini_test
scripts/src/
src/data
src/pretrained
src/file_summary_data
logs*/
trained_models*/
prediction*/
trained_models_bak/
logs_three/
trained_models_three_level/
*.log
*.out
*.err
screenlog.0
*.csv
__pycache__/
*.py[cod]
*$py.class
*.png
*.txt
predictions/
